body {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
   
}
#game-board {
    text-align: center;
}

.container {
    padding: 4%;
}

.game {
  text-align: center;
  color: black;
}




/*--- COL 1 ---*/



.info {
    color: #000;
    padding-top: 5%;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
} .parrafo {
font-size: 21px;
    font-family: sans-serif;
    
} .cervezas {
  width: 100px;
}.span {
  font-weight: 600;
} .logo-img {
     width: 350px;
    padding-right: 10%;
    padding-top: 5%;





} /* --- COL 3 ---*/



.otra-info {
    margin-left: 20px;
    color: #000;
    /* padding: 10%; */
    padding-top: 40px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    /* background: #315887; */
} img {
    width: 200px;
}  .arrows-img {
  width: 150px;
} .flechas {
    padding-left: 7%;
} .colores {
  margin-top: 95px;
    margin-left: 15px;
}
